---
import {
  Content,
  isBlocksGroup,
  isNotBlocksGroup,
} from "../../lib/search_slug";

interface Props {
  blocksGroup: Content;
}

let { blocksGroup } = Astro.props;
let contents: Content[] = [];
let text = "";
let level = 0;
let rawHtmlString = "";
let endingTagCount = 0;
let childrenStep = 0;

if (
  isBlocksGroup(blocksGroup.result) &&
  blocksGroup.result.type === "numbered_list_item"
) {
  contents = blocksGroup.result.contents;
}

for (const content of contents) {
  text = "";
  let olType = ["1", "decimal"];

  if (
    isNotBlocksGroup(content.result) &&
    content.result.type === "numbered_list_item" &&
    content.result.numbered_list_item.rich_text[0]?.type === "text"
  ) {
    text = content.result.numbered_list_item.rich_text[0].text.content;

    if (childrenStep == 0) {
      olType = ["1", "decimal"];
    } else if (childrenStep == 1) {
      olType = ["a", "lower-alpha"];
    } else if (childrenStep == 2) {
      olType = ["i", "lower-roman"];
    }

    //When childrenLevel is consistent, no need to add <ul> tag.
    if (content.childrenLevel == level) {
      rawHtmlString += `<li class="pl-3.5 ml-5">${text}</li>`;
    }
    // If childrenLevel increase, add the <ul> tag and increment
    // `endingTagCount` to add closing </ul> tag. We don't close tag yet since
    //  we add another block in this inner html.
    else if (content.childrenLevel > level) {
      level = content.childrenLevel;
      if (childrenStep > 2) {
        childrenStep = 0;
      } else {
        childrenStep++;
      }
      endingTagCount++;
      rawHtmlString += `
      <ol
        type="${olType[0]}"
        role="list"
        class="text-xl ml-10"
        style="list-style: ${olType[1]}"
      >
        <li class="pl-3.5 ml-5">${text}</li>`;
    }
    // If the childrenLevel decreases, immediately close </ul> tag and
    // decrement `endingTagCount` to prevent extra tag.
    else {
      level = content.childrenLevel;
      endingTagCount--;
      rawHtmlString += "</ol>";
    }
  }
}
rawHtmlString += "</ol>".repeat(endingTagCount);
---

<ol role="list" class="list-decimal text-xl mb-4" set:html={rawHtmlString} />
